<html>
    <head>
        <title>Product</title>
    </head>
    <body>
        <h1>Product</h1>
        <% console.log(request.product)%>
        <h2>name:<%=request.product.name %></h2>
        <p> description: <%= request.product.description %> </p>
        <p>price: <%= request.product.price %> </p>
        <p>quantity: <%= request.product.quantity %> </p>
        <p>created:<%= request.product.created %> </p>
    </body>
</html>